<div class="pin" data-id="<%- _id %>" >
    <% if(media.type==='image') { %>
        <img src="<%- media.content %>" class="thumbnail" />
    <% } %>
    <div class="title"><%= place.name %></div>
    
    <div class="infos">
        Pined on <%= date %><br />
        <a href="<%- origin %>"><%= origin %></a>
    </div>
    <div class="links">
        <a href="#" class="btn btn-default btn-primary btn-sm"><i class="icon-eye"></i></a>
        <a href="#" class="btn btn-default btn-sm"><i class="icon-location"></i></a>
    </div>
    <div class="clearfix"></div>
</div>